section#built-for-home-assistant {
    isolation: isolate;
    margin-top: 10%;
    
    @include bp(tablet) {
        margin-top: 0;
        padding-top: 40px;
    }

    &,
    p {
        color: #002E3E;
        --typography-paragraph-color: #002E3E;
    }

    .section-inner-content {
        padding-bottom: 0;
    }

    &[data-dsap] {
        &[data-dsap-is="in"] {
            .col:first-child img {
                transform: translateY(0);
                opacity: 1;
            }
        }

        &:not([data-dsap-is="in"]) {
            .col:first-child img {
                transform: translateY(5%);
                opacity: 0.75;
                transition-delay: 0s;
                transition-duration: 0.2s;
            }
        }
    }

    .cols {
        flex-direction: column;

        @include bp(tablet) {
            height: 100%;
            flex-direction: row;
        }

        .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            flex-grow: 1;
            flex-basis: 0;

            &:first-child {
                height: 100%;
                position: relative;

                img {
                    margin-top: -17.5%;
                    margin-bottom: -24px;
                    transform: translateY(5%);
                    opacity: 0.75;
                    transition: transform 1s ease-out, opacity .5s ease-out;
                    transition-delay: .1s;

                    @include bp(tablet) {
                        margin-top: -32px;
                        position: absolute;
                        left: 0;
                        right: 0;
                    }
                }

                @include bp(tablet) {
                    max-width: 50%;
                }
            }

            &:last-child {
                @include bp(tablet) {
                    max-width: 488px;
                    padding: 40px 0;
                }
            }
        }

        h2,
        .body-large {
            @include bp(tablet) {
                text-wrap: balance;

            }
        }

        .body-large {
            color: #4F606E;
        }
    }

    .card {
        background: #D3E5F5;
        border-radius: 12px;
        width: 100%;
        padding: 20px;
    }
}