section#hero {
    height: calc(100vh - 68px);
    position: relative;

    .video-background {
        background-color: #000000;
        inset: 0;
        position: absolute;
        text-align: center;
        z-index: 1;

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            height: 101%;
            aspect-ratio: 16 / 9;
            left: 50%;
            transform: translateX(-50%);
            background: #000;
            background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 1) 100%);
            z-index: 2;
        }

        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: #000000;
            opacity: 1;
            transition: opacity 0s ease-in-out;
        }
        
        &.visible{
            &:after {
                opacity: 0;
                transition: opacity 2s ease-in-out;
            }
        }
    }

    .model-still {
        z-index: 1;
    }

    .section-inner {
        align-items: flex-end;
    }

    h1 {
        display: flex;
        flex-direction: column;

        >span {
            &:first-child {
                span:last-child {
                    font-weight: 400;
                }
            }

            span {
                color: #001A35;
                animation: letter-fade 2s forwards .2s;
                opacity: 1;

                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        animation-delay: calc((var(--offset) + .2s) + (.1s * #{$i}));
                    }
                }
            }
        }

        >span:nth-child(1) {
            --offset: 0s;
            font-size: var(--typography-hero-subtitle-font-size);
            font-weight: var(--typography-hero-subtitle-font-weight);
            line-height: var(--typography-hero-subtitle-line-height);
            margin: 0;
        }

        >span:nth-child(2) {
            --offset: .4s;
            display: flex;
            font-size: var(--typography-hero-title-font-size);
            font-weight: var(--typography-hero-title-font-weight);
            letter-spacing: -5px;
            line-height: var(--typography-hero-title-line-height);
            margin-top: 16px;

            @include bp(desktop) {
                margin-top: 40px;
            }
        }
    }

    .body-large{
        padding: 8px 0 0 0;
        @include bp(tablet){   
            padding: 8px 20px;
        }
    }

    .logos {
        display: flex;
        align-items: center;
        gap: 24px;

        img {
            max-width: 50%;
        }
    }

    .cols {
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;

        .col{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        p {
            color: #ffff;
        }
    }

    .section-inner {
        position: relative;
        z-index: unset;

        &-content {
            z-index: 2;
        }
    }

    .background {
        background: #001A35;
        inset: 0;
        isolation: isolate;
        position: absolute;

        &:before,
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 2;
        }

        &:before {
            background: linear-gradient(84deg, rgba(0, 26, 53, 0.00) 33.14%, #005FBE 116.82%);
        }

        &:after {
            background: radial-gradient(123.89% 49.86% at 48.4% 45.49%, rgba(0, 26, 53, 0.00) 0%, #0F121F 100%);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }
}

@keyframes letter-fade {
    to {
        color: #fff;
        opacity: 1;
    }
}