section#hero {
    --section-spacing-y: 0;

    background-image: url('/images/community/hero-m.svg');
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 600px;

    @include bp(tablet) {
        background-image: url('/images/community/hero.svg');
        background-position: center;
        border-radius: 24px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 24px 12px;

        @include bp(tablet) {
            padding: 164px 12px 66px 12px;
        }

        .content {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 670px;

            .event-card, .button {
                margin-top: 24px;

                @include bp(tablet) {
                    margin-top: 32px;
                }
            }
        }
    }
}